<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :white_id %>
    <%= f.number_field :white_id %>
  </div>

  <div class="field">
    <%= f.label :black_id %>
    <%= f.number_field :black_id %>
  </div>

  <div class="field">
    <%= f.label :movetext %>
    <%= f.text_field :movetext %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
