<h1>New Game</h1>

<%= render 'form', game: @game %>

<%= form_tag '/games/file', :multipart => true do %>
  <label for="file">Upload text File</label> <%= file_field_tag "file" %>
  <%= submit_tag %>
<% end %>

<%= link_to 'Back', games_path %>
