<h1>New Game</h1>

<%= render 'form', game: @game %>

<br/>

<%= form_tag '/games/file', :multipart => true do %>
  <label for="file">New game from file</label> <%= file_field_tag "file" %>
  <%= submit_tag "Submit" %>
<% end %>

<br/>

<%= link_to 'Back', games_path %>
