<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>White:</strong>
  <%= @game.white.name %>
</p>

<p>
  <strong>Black:</strong>
  <%= @game.black.name %>
</p>

<p>
  <strong>Movetext:</strong>
  <%= @game.movetext %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
