<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>White:</strong>
  <%= link_to(@game.white.name, :controller => 'players', :action => 'show', :id => @game.white.id) %>
</p>

<p>
  <strong>Black:</strong>
  <%= link_to(@game.black.name, :controller => 'players', :action => 'show', :id => @game.black.id) %>
</p>

<p>
  <strong>Movetext:</strong>
  <%= @game.movetext %>
</p>

<br/>

<%= form_tag '/games/#{@game.id}/update', :multipart => true do %>
  <label for="file">Enter a comment</label> <%= text_field_tag "comment" %>
  <%= submit_tag "Submit" %>
<% end %>

<br/>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
